



<div class="container-fluid">
  <div class="row">
    <ng-template ngFor let-item [ngForOf]="homeData">
      <div class="col-lg-3">
        <div class="card" [routerLink]="['../detail/',item.id]">
          <img class="card-img-top" src="{{item.images}}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{item.title}}</h4>
            <p class="card-text">{{item.description}}</p>
            <a href="javascript:;" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
            <div class="col-lg-3" *ngIf="!opened" clickOutside (clickOutside)="opened = !opened">
              <div class="card">
                <img class="card-img-top" src="https://via.placeholder.com/350x150" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">item.title}}</h4>
                  <p class="card-text">item.description}}</p>
                  <a href="javascript:;" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>